**/nbproject/private/
**/nbproject/Makefile-*.mk
**/nbproject/Package-*.bash
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
**/.netbeans_automatic_build
**/*.class
/Practica03_WS/target/
/Practica03_Client_Servlet/target/
/Practica04_Client/target/
/Practica04_WS/target/
/Practica05_WS_SoapRest/target/
/Practica05_ClientSoap_Servlet/target/
/Practica05_Client_Soap_Servlet/target/
/Practica05_Client_Rest_Servlet/target/
/Practica05_Client_Soap_Terminal/target/
/Practica01/target/
/Practica02/target/
/Practica03_Client_Application/target/
